#table {
	background-color: green;
	width: 100%;
	height: 50vw;
}

#grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas:	"draw waste fill found1 found2 found3 found4"
							"footer footer footer footer footer footer footer"
							"one two three four five six seven";
							
	background-color: green;
	position: relative;
	top: 2%;
	margin: 0 auto;
	height: 95%;
	width: 95%;
	grid-gap: 1em;
}

#footer {
	grid-area: footer;
}

.el {
	position: relative;
	border: 1px dashed black;
	border-radius: 10px;
	
}

#waste {
	
	
}
button {
	margin: 0 auto;
	display: block;
	position: relative;
	
}

.card {
	border: 2px solid black;
	border-radius: 10px;
	height: 100%;
	width: 100%;
	background-color: ivory;
}

.card + .card {
	
}


#back {
	background-image: url("back.jpg");
	background-position: center;
	width: 97%;
	height: 97%;
	position: relative;
	top: 1.5%;
	left: 1.5%;
	border-radius: 10px;
	
}

#id {
	position: absolute;
	font-size: 1em;
	right: .5em;
	top: .5em;
	
}

#icon {
	position: absolute;
	margin: 0 auto;
	top: 40%;
	left: 35%;
	height: 20%;
	width: auto;
}

#id2 {
	position: absolute;
	font-size: 1em;
	left: .5em;
	bottom: .5em;
}