h1 {
	margin: 0px;
}

header {
	text-align: center;
}

.cardSpace {
	display: inline-block;
	width: 7vw;
	height: 12vh;
	border:.5px dashed black;
}

#wrapper {
	height: 80vh;
	width: 80vw;
	margin: 0 auto;
	border: 2px solid gold;
	background-color: green;
}